.cart-item {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-name {
  font-weight: 500;
}

.total-block {
  margin-top: 10px;
}

.delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-item {
  flex: 0 0 40%;
}
